body {
  background-color: white;
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

#str1 {
    position: relative;
    width: 100%;
    background-image: url("img/zdj1.webp");
    height: 1000px;
  /* Set a specific height */
    min-height: 500px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  #nav {
    float: left ;
    width: 100%;
    height: 190px;
    color: #777;
    background-color:white;
    text-align:center;
    text-align: justify;
    margin: 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
      justify-content: center; /* wyśrodkowanie poziome */
      align-items: center; /* wyśrodkowanie pionowe */
  }
  
#navmain {
  width: 100%;
  height: 40px;
  margin-bottom: 100px;
}

  .przycisk {
    margin: 0 auto;
    display: block;
    float: left;
    margin-right: 10px;
    width: 15.7%;
    height: 100px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
      justify-content: center; /* wyśrodkowanie poziome */
      align-items: center; /* wyśrodkowanie pionowe */
}
p {
  text-align: justify; 
  font-size: 25px; 
  padding-bottom: 100px;
   padding: 30px;
}

.przycisk:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 1100px) {
  .przycisk {
      width: 100%; /* Szerokość na pełną dostępną szerokość */
      margin-bottom: 10px;
      float: none;
      height: auto;
  }
  p {
    font-size: medium;
  }
  #nav {
    display: flex;
      justify-content: center; /* wyśrodkowanie poziome */
      align-items: center; /* wyśrodkowanie pionowe */
  }
  ol {
    font-size: medium;
  }
  #navmain {
    height: 230px;
  }
  #nav {
    height: 280px;
  }
}
.content {
  width: 100%;
  background-color: white;
  border-top:#000 1px dotted;
}
h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 10px;
}

#str2 {
  position: relative;
  width: 100%;
  background-image: url("img/zdjecie2.jpg");
  height: 1200px;
/* Set a specific height */
  min-height: 500px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#str3 {
  position: relative;
  width: 100%;
  background-image: url("img/zdjecie3.jpg");
  height: 1200px;
/* Set a specific height */
  min-height: 500px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#str4 {
  position: relative;
  width: 100%;
  background-image: url("img/zdjecie4.webp");
  height: 1200px;
/* Set a specific height */
  min-height: 500px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
footer {
  background-color: #2f3f30;
      color: white;
      padding: 20px;
      text-align: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      letter-spacing: 4px;
}
ol {
  font-size: 30px; text-align: justify;
}