@import url('pz.css');

li {
    padding-bottom: 30px;
}

#str1 {
    position: relative;
    width: 100%;
    background-image: url("img/energia_sloneczna/zdj1.jpg");
    height: 1000px;
  /* Set a specific height */
    min-height: 500px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



#str2 {
  position: relative;
  width: 100%;
  background-image: url("img/energia_sloneczna/zdj2.jpg");
  height: 1200px;
/* Set a specific height */
  min-height: 500px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#str3 {
  position: relative;
  width: 100%;
  background-image: url("img/energia_sloneczna/zdj3.jfif");
  height: 1200px;
/* Set a specific height */
  min-height: 500px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#str4 {
  position: relative;
  width: 100%;
  background-image: url("img/energia_sloneczna/zdj4.jpeg");
  height: 1200px;
/* Set a specific height */
  min-height: 500px;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

